In [50]:
import pickle
from os import listdir
from os.path import isdir, isfile, join

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from matplotlib.pyplot import figure

from tools import *

In [53]:
a = pd.read_csv("/home/stein/transformed_years/classic/classic_2022.csv")

,t[s],soil_temp_05cm_depth_1A01N[°C],soil_temp_15cm_depth_1A01N[°C],soil_temp_05cm_depth_1A02M[°C],soil_temp_15cm_depth_1A02M[°C],soil_temp_05cm_depth_1A03N[°C],soil_temp_15cm_depth_1A03N[°C],soil_temp_05cm_depth_1A04M[°C],soil_temp_15cm_depth_1A04M[°C],soil_temp_05cm_depth_1A05N[°C],...,soil_temp_05cm_depth_4A19M[°C],soil_temp_15cm_depth_4A19M[°C],soil_temp_05cm_depth_4A20M[°C],soil_temp_15cm_depth_4A20M[°C],soil_temp_05cm_depth_4A21M[°C],soil_temp_15cm_depth_4A21M[°C],soil_temp_05cm_depth_4A22M[°C],soil_temp_15cm_depth_4A22M[°C],soil_temp_05cm_depth_4A23M[°C],soil_temp_15cm_depth_4A23M[°C]
0,2022-01-01 00:00:00,8.03,7.49,7.92,7.11,8.64,7.56,8.88,8.17,93.24,...,7.88,6.98,7.57,7.04,NaN,NaN,8.34,7.68,8.49,7.56
1,2022-01-01 00:01:00,8.03,7.49,7.92,7.11,8.64,7.56,8.88,8.17,93.25,...,7.88,6.98,7.57,7.04,NaN,NaN,8.34,7.68,8.49,7.56
2,2022-01-01 00:02:00,8.03,7.50,7.92,7.11,8.65,7.56,8.88,8.17,92.90,...,7.88,6.98,7.57,7.04,NaN,NaN,8.34,7.68,8.49,7.56
3,2022-01-01 00:03:00,8.04,7.50,7.92,7.11,8.65,7.56,8.88,8.17,93.24,...,7.88,6.98,7.57,7.04,NaN,NaN,8.35,7.68,8.49,7.57
4,2022-01-01 00:04:00,8.04,7.50,7.92,7.11,8.65,7.57,8.88,8.17,93.20,...,7.89,6.98,7.57,7.04,NaN,NaN,8.35,7.69,8.49,7.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-12-31 23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525596,2022-12-31 23:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525597,2022-12-31 23:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525598,2022-12-31 23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525599,2022-12-31 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
a = pd.read_csv("/home/datasets4/stein/transformed_years/classic/classic_2021.csv")

In [28]:
b = pd.read_csv("/home/stein/transformed_years/classic/classic_2021.csv")

In [7]:
a = get_all_paths(return_years = True)

In [23]:
try:
    start = a[2].index("2001")
except: 
    start = 0
try:
    end = a[2].index("2026")
except: 
    end = len(a[2])
a[2][start:end+1]

['2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

In [ ]:
st

In [5]:
c = get_all_paths("/home/datasets4/stein/supplements_jena_experiment/data")

['2021']
[['Y2021001bis365_csv']]

In [3]:
c

([[]], [])

In [32]:
len(a[0][0])

527

# Trial and error station for the scripts

In [ ]:
# All paths
tables,tables_list = get_all_paths()

In [ ]:
mypath = "/home/datasets4/stein/supplements_jena_experiment/Y2021001bis365_csv"
supplements = [mypath + "/" + f for f in listdir(mypath) if isfile(join(mypath, f))]
supplements.sort()

In [ ]:
allColumns = list(pd.read_csv(
    "/home/datasets4/stein/jena_experiment/Complete-HeaderFile_extendedBasedOn20173020605_V4.csv", encoding= 'unicode_escape').columns)[:-1]

In [ ]:
allColumns[278]

# First script

In [ ]:
# This is the procedure:
faultyMap  = pickle.load(open("stats/faulty_column_mapping.p", "rb"))
data = load_year(tables[10], faultyMap,allColumns, name = "transform_logs/2004")

In [ ]:
if isinstance(data, pd.DataFrame):
    if not test_columns(data,allColumns):
        print("Column test failed.")
    if not test_length(data):
        print("Length test failed.")
    if not test_year(data):
        print("Year test failed.")    
    print("All tests passed.")

In [ ]:
#data2, stats  = threshold_filter(copy.deepcopy(data), which="humidiy", threshold = (-1,101))

In [ ]:
data = data[["t[s]"] + [x for x in allColumns if (("soil_temp" in x) or ("air" in x) or ("surface" in x))]]

# Second script

In [3]:
data = pd.read_csv("/home/datasets4/stein/transformed_years/classic/classic_20.csv")
data = select_variable_subset(data, mode="complete")        
data = cast_to_long_format(data)

['soil_temp_15cm_depth', 'soil_temp_05cm_depth']

In [4]:
# Create removal file
removals = copy.deepcopy(data)
removals[[x for x in data.columns if ((x != "datetime") & (x != "plotcode"))]] = np.nan

In [5]:
data, removal =  threshold_filter(data,removals, which="soil_temp", threshold = (-30,45))
data, removals = boxplot_filter(data,removals, acceptRange=args.boxplot_range, nPlots=90)

# Sum

# Script 3

In [2]:
data = pd.read_csv("/home/datasets4/stein/sum_years/complete_all.csv")
#removed = pd.read_csv("/home/datasets4/stein/sum_years/complete_removed_all.csv")

In [32]:
groups = data.groupby("datetime")

In [33]:
[x for x in data.columns if (x != "datetime" and x != "plotcode")]

['soil_temp_15cm_depth', 'soil_temp_05cm_depth']

In [34]:
means = groups.mean()

In [35]:
nPlots = groups.count()

In [36]:
means.isnull().sum()

soil_temp_15cm_depth    33947
soil_temp_05cm_depth    33947
dtype: int64

In [37]:
sparse = nPlots.loc[((nPlots < 13) & (nPlots != 0))["soil_temp_05cm_depth"]]
means.loc[sparse.index, "soil_temp_05cm_depth"] = np.nan

In [38]:
sparse = nPlots.loc[((nPlots < 13) & (nPlots != 0))["soil_temp_15cm_depth"]]
means.loc[sparse.index, "soil_temp_15cm_depth"] = np.nan

In [39]:
means.isnull().sum()

soil_temp_15cm_depth    33947
soil_temp_05cm_depth    33949
dtype: int64

In [40]:
means.reset_index(inplace=True)

In [41]:
fillers = copy.deepcopy(data)
for x in [x for x in data.columns if (x != "datetime" and x != "plotcode")]:
    fillers[x] = np.nan

In [42]:
combine = data.merge(means[["datetime","soil_temp_15cm_depth"]], on= "datetime")

In [43]:
indices = combine[((combine["soil_temp_15cm_depth_x"].isnull()) &
 (~(combine["soil_temp_15cm_depth_y"].isnull()))).values].index

In [46]:
fillers.loc[indices,"soil_temp_15cm_depth"] = "Vertical filler"

In [64]:
remaining = data[data["soil_temp_15cm_depth"].isnull()].index
fillers.loc[remaining,"soil_temp_15cm_depth"] = "Horizontal filler"

Int64Index([       0,        1,        2,        3,        4,        5,
                   6,        7,        8,        9,
            ...
            29675510, 29675511, 29675512, 29675513, 29675514, 29675515,
            29675516, 29675517, 29675518, 29675519],
           dtype='int64', length=3055230)

In [139]:
# Fill rest with seasonal means



data = fill_with_mean(data)

In [140]:
data.isnull().sum()

datetime                0
plotcode                0
soil_temp_15cm_depth    0
soil_temp_05cm_depth    0
dtype: int64

In [ ]:
check = ((available < 5) & (available != 0)).sum()

In [14]:
available = data.groupby("datetime").count()
check = ((available < 5) & (available != 0)).sum()

In [18]:
available[((available < 5) & (available != 0)), "soil_temp_05cm_depth"]

                     plotcode  soil_temp_15cm_depth  soil_temp_05cm_depth
datetime
2003-01-01 00:00:00        90                     0                     0
2003-01-01 00:30:00        90                     0                     0
2003-01-01 01:00:00        90                     0                     0
2003-01-01 01:30:00        90                     0                     0
2003-01-01 02:00:00        90                     0                     0
...                       ...                   ...                   ...
2021-12-31 21:30:00        90                    70                    68
2021-12-31 22:00:00        90                    70                    68
2021-12-31 22:30:00        90                    70                    68
2021-12-31 23:00:00        90                    70                    68
2021-12-31 23:30:00        90                    70                    68

[333120 rows x 3 columns]

# Testing script