In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd
from functools import reduce
import matplotlib.pyplot as plt
import pickle
import numpy as np
import functools as ft

In [2]:
#original set from Yuanyuan

base = pd.read_csv("/home/datasets4/stein/filled_years_time_corrected/complete_all_full.csv")
base.datetime = base.datetime.str[:4]

In [9]:
base.groupby(["datetime", "plotcode"]).mean() / base.groupby(["datetime", "plotcode"]).std().reset_index()

                   soil_temp_05cm_depth  soil_temp_15cm_depth
datetime plotcode
2003     1A01                  1.394384              1.522822
         1A02                  1.377678              1.480116
         1A03                  1.412938              1.500349
         1A04                  1.364263              1.506543
         1A05                  1.395739              1.464126
...                                 ...                   ...
2022     4A19                  1.602170              1.737388
         4A20                  1.708421              1.834565
         4A21                  1.590190              1.719311
         4A22                  1.596267              1.708630
         4A23                  1.728106              1.798617

[1800 rows x 2 columns]

In [11]:
base.reset_index()

,index,datetime,plotcode,soil_temp_05cm_depth,soil_temp_15cm_depth
0,0,2003,1A01,2.109944,2.794815
1,1,2003,1A01,2.109407,2.792981
2,2,2003,1A01,2.113593,2.791278
3,3,2003,1A01,2.116333,2.791426
4,4,2003,1A01,2.117019,2.791111
...,...,...,...,...,...
31557595,31557595,2022,4A23,2.403279,2.838472
31557596,31557596,2022,4A23,2.494222,2.838301
31557597,31557597,2022,4A23,2.487203,2.835915
31557598,31557598,2022,4A23,2.513256,2.835289
31557599,31557599,2022,4A23,2.512246,2.835183